.section_1_container{
    padding: 20px;
}

.section_1_hero_text_container{
    font-size: 25px;
    width: 50%;
    margin-top: 40px;
}
.section_1_hero_text_container span{
    font-weight: 600;
}.section_1_hero_text_container > p{
    font-weight: 300;
}

.section_1_box_container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 50px;
}

.section_1_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    height: 300px;
    
}

.section_1_box > img{
    width: 50px;
}

.section_1_box > span{
    font-weight: 600;
}

.section_1_box > p{
    font-weight: 300;
}

@media only screen and (max-width: 800px) {
    .section_1_hero_text_container{
        font-size: 20px;
        width: 100%;
        margin-top: 40px;
    }

    .section_1_box_container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 10px;
        margin-top: 50px;
    }
}
