header{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    width: 100%;
    margin: auto;
    display: grid;
    place-items: center;
}

h1{
    font-size: 60px;
    width: 100%;
    display: grid;
    place-items: center;
}

.hero_btn{
    padding:15px 30px;
    background-color: #5AB963;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin-top: 50px;
    font-size: 15px;
}.hero_btn:hover{
    padding:15px 30px;
    background-color: #3a9e44;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    margin-top: 50px;
    font-size: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    h1{
        font-size: 30px;
        width: 100%;
        display: grid;
        place-items: center;
    }

    .header_sub_text{
        text-align: center;
    }
}